{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Delete Your Account" %} | {{ block.super }}{% endblock %}

{% block account-main %}

<h1>{% trans "Delete Your Account" %}</h1>

<form action="." method="POST">
    {% csrf_token %}
    <p>Are you sure? This will remove:
    <ul>
        <li>Your account</li>
        <li>{{ time_count }} recorded times</li>
    </ul>
    </p>

    <button type="submit" class="btn btn-danger">Yes, Delete my Account</a>
</form>



{% endblock %}