{% extends "base.html" %}

{% block main %}

<h1>{{ course }}</h1>

{% if best_times %}
<h2>Best Times</h2>
<table class="table table-striped table-sm mb-5">
    <thead>
        <td></td>
        <td>Rider</td>
        <td>Bike</td>
        <td>Time</td>
    </thead>

    {% for time in best_times %}
    <tr>
        <td>#{{ forloop.counter }}</td>
        <td>
            {% if time.user %}
            {{ time.user.username }}
            {% else %}
            {{ time.rider }}
            {% endif %}
        </td>
        <td>{{ time.bike }}</td>
        <td>{{ time.time }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no times for this course.</p>
{% endif %}


{% if history %}
<h2>History</h2>
<table class="table table-striped table-sm mb-5">
    <thead>
        <td>Date</td>
        <td>Rider</td>
        <td>Bike</td>
        <td>Time</td>
    </thead>

    {% for time in history %}
    <tr>
        <td>{{ time.run_date }}</td>
        <td>
            {% if time.user %}
            {{ time.user.username }}
            {% else %}
            {{ time.rider }}
            {% endif %}
        </td>
        <td>{{ time.bike }}</td>
        <td>{{ time.time }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}