{% extends "base.html" %}
{% load i18n %}

{% block main %}
{% for course, times in courses %}

<div class="row">
    <h2 class="p-3 m-0 bg-secondary"><a class="link-dark" href="{% url 'course-detail' slug=course.slug %}">
            {{ course }}</a>
    </h2>
    {% if times %}
    <table class="table table-striped mb-5">
        <thead class="table-dark">
            <td></td>
            <td>{% trans "Rider" %}</td>
            <td>{% trans "Bike" %}</td>
            <td>{% trans "Time" %}</td>
        </thead>

        {% for time in times %}
        <tr>
            <td>#{{ forloop.counter }}</td>
            <td>
                {% if time.user %}
                {{ time.rider.username }}
                {% else %}
                {{ time.rider_name }}
                {% endif %}
                {% if forloop.counter0 == 0 %}<i class="bi bi-trophy"></i>{% endif %}
            </td>
            <td>{{ time.bike }}</td>
            <td>{{ time.time }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    {% blocktrans %}No times for this course!{% endblocktrans %}
    {% endif %}
</div>
{% endfor %}

{% endblock %}