{% extends "base.html" %}
{% load i18n %}

{% block main %}
{% for course, times in times %}

<div class="row">
    <h2 class="p-3 m-0 bg-secondary">
        <a class="link-dark" href="{% url 'course-detail' slug=course.slug %}">
            {{ course }}
        </a>
        {% if user.is_authenticated %}
        <a class="btn btn-success btn float-end" href="{% url 'course_timer' slug=course.slug %}">
            {% trans "Timer" %}
        </a>
        {% endif %}
    </h2>

    {% if times %}
    {% include "includes/top_riders_table.html" %}
    {% else %}
    {% blocktrans %}No times for this course!{% endblocktrans %}
    {% endif %}
</div>
{% endfor %}

{% endblock %}