{% extends "account/login.html" %}

{% load i18n django_bootstrap5 %}

{% block head_title %}{% trans "Signup" %} | {{ block.super }}{% endblock %}

{% block form %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
    {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following information: {% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}

    {% bootstrap_field form.email layout="floating" %}
    {% bootstrap_field form.username layout="floating" %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
</form>

{% endblock %}