{% load i18n %}

<table class="table table-striped mb-5">
    <thead class="table-dark">
        <th scope="col" width="1"></th>
        <th scope="col">{% trans "Rider" %}</th>
        <th scope="col" width="10%">{% trans "Bike" %}</th>
        <th scope="col" width="10%">{% trans "Time" %}</th>
    </thead>

    {% for time in times %}
    <tr>
        <th scope="row">#{{ forloop.counter }}</th>
        <td>
            {{ time.display_name }}
            {% if forloop.counter0 == 0 %}<i class="bi bi-trophy"></i>{% endif %}
        </td>
        <td>{{ time.bike }}</td>
        <td>{{ time.time }}</td>
    </tr>
    {% endfor %}
</table>